PORT=5000
MONGO_URI=mongodb://shrawansks2062_db_user:<db_password>@ac-itkinwa-shard-00-00.ktvo1uk.mongodb.net:27017,ac-itkinwa-shard-00-01.ktvo1uk.mongodb.net:27017,ac-itkinwa-shard-00-02.ktvo1uk.mongodb.net:27017/movie-platform?tls=true&authSource=admin&replicaSet=atlas-143elw-shard-0&appName=Cluster0
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d
ADMIN_NAME=Shrawan
ADMIN_EMAIL=shrawan.sks2062@gmail.com
ADMIN_PASSWORD=
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
MUX_SIGNING_KEY=
MUX_PRIVATE_KEY=
MUX_WEBHOOK_SECRET=
TERABOX_ACCESS_TOKEN=
TERABOX_API_DOMAIN=www.terabox.com
